USE [master]
GO
/****** Object:  Database [studentDB]    Script Date: 1/13/2023 5:27:55 PM ******/
CREATE DATABASE [studentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'studentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\studentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'studentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\studentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [studentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [studentDB]
GO
/****** Object:  Table [dbo].[class_details]    Script Date: 1/13/2023 5:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class_details](
	[Std_id] [int] NOT NULL,
	[Course_id] [int] NOT NULL,
	[GPA] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_info]    Script Date: 1/13/2023 5:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_info](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Credit_Hours] [int] NOT NULL,
	[Dept_Id] [int] NOT NULL,
 CONSTRAINT [PK_course_info] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dept_info]    Script Date: 1/13/2023 5:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dept_info](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dept_info] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[std_info]    Script Date: 1/13/2023 5:27:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[std_info](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phonenumber] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Dept_id] [int] NULL,
 CONSTRAINT [PK_std_info] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[class_details]  WITH CHECK ADD  CONSTRAINT [FK_class_details_course_info] FOREIGN KEY([Course_id])
REFERENCES [dbo].[course_info] ([Id])
GO
ALTER TABLE [dbo].[class_details] CHECK CONSTRAINT [FK_class_details_course_info]
GO
ALTER TABLE [dbo].[class_details]  WITH CHECK ADD  CONSTRAINT [FK_class_details_std_info] FOREIGN KEY([Std_id])
REFERENCES [dbo].[std_info] ([Id])
GO
ALTER TABLE [dbo].[class_details] CHECK CONSTRAINT [FK_class_details_std_info]
GO
ALTER TABLE [dbo].[course_info]  WITH CHECK ADD  CONSTRAINT [FK_course_info_dept_info] FOREIGN KEY([Dept_Id])
REFERENCES [dbo].[dept_info] ([Id])
GO
ALTER TABLE [dbo].[course_info] CHECK CONSTRAINT [FK_course_info_dept_info]
GO
ALTER TABLE [dbo].[std_info]  WITH CHECK ADD  CONSTRAINT [FK_std_info_std_info] FOREIGN KEY([Dept_id])
REFERENCES [dbo].[dept_info] ([Id])
GO
ALTER TABLE [dbo].[std_info] CHECK CONSTRAINT [FK_std_info_std_info]
GO
USE [master]
GO
